.App {
  font-family: "Roboto", sans-serif;
  max-width: 600px;
  margin: 30px auto;
}

.App .container {
  background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%);
  padding: 40px 60px;
}

.App .footer {
  text-align: center;
  margin: 13px 0;
  color: #607d8b;
  font-size: 13px;
}
