.WeatherForecast {
  text-align: center;
}

.WeatherForecast canvas {
  display: block;
  margin: 10px auto;
}

.WeatherForecast-day {
  color: #0069d9;
  font-size: 20px;
  font-weight: bold;
  margin-top: 10px;
}

.WeatherForecast-temp-max {
  color: #607d8b;
  font-size: 15px;
  font-weight: 400;
  font-weight: bold;
}

.WeatherForecast-temp-min {
  color: #607d8b;
  font-size: 15px;
  font-weight: 400;
  opacity: 0.7;
  margin-left: 5px;
  font-weight: bold;
}
