.Weather h1,
h2 {
  color: #0069d9;
}

.Weather h1 {
  font-size: 40px;
  text-align: left;
  margin: 20px 0;
  font-weight: bold;
}

.Weather h2 {
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.Weather ul {
  margin: 0;
  padding: 0;
  margin: 10px 0;
}

.Weather li {
  text-align: left;
  list-style: none;
  color: #607d8b;
  font-size: 20px;
  line-height: 30px;
}

.Weather li:first-letter {
  text-transform: capitalize;
}

.Weather hr {
  color: #607d8b;
}

.Weather .today-temp canvas {
  margin: 20px auto;
}

.Weather .today-temp strong {
  color: #0069d9;
  font-size: 50px;
  line-height: 2;
  margin-left: 30px;
}

.Weather .today-temp .units {
  position: relative;
  font-size: 16px;
  top: -30px;
}

.Weather .today-temp .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.Weather .today-temp .active:hover {
  text-decoration: none;
}

.Weather .weather-forecast h2 {
  text-align: center;
  font-style: italic;
  font-weight: bold;
}
.Weather .weather-forecast img {
  display: block;
  margin: 0 auto;
  height: 48px;
  width: 48px;
}

.weather-forecast-temperature {
  text-align: center;
  color: #607d8b;
  font-size: 15px;
  font-weight: 400;
  margin-top: 10px;
}
